<div class="sub_page">

<h1>Edit Account</h1>
<h3 class="description">Enter all required fields below.</h3>

<% form_for(@account) do |f| %>
<%= render :partial => "form", :locals => { :f => f, :submit_label => "Update" } %>
<% end %>

</div>